<h1>User list</h1>
<table>
  <tr>
    <th>User</th>
  </tr>

  <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to employee.name, 'attendance/detail/' + employee.id.to_s %></td>
    </tr>
  <% end %>
</table>
